<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <featureManager>
        <!--<feature>jakartaee-9.1</feature> works too-->
	<feature>jakartaee-10.0</feature>
	<!--jakarta only -->    
	<feature>wmqMessagingClient-3.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080"
                  httpsPort="9443"
                  host="*" />
	
    <basicRegistry id="basic" realm="BasicRealm">
        <user name="adminUser" password="adminUserPwd"/>
    </basicRegistry>
	
    <!-- START JMS CONFIGURATION -->
    <!-- OL 
    <resourceAdapter id="wmqjmsra" location="${wlp.install.dir}../../../ibm/wmq.jakarta.jmsra.rar" />
    -->

    <include location="${shared.resource.dir}/ease/mq/jakarta-ra.xml"/>
	
    <!-- <jmsConnectionFactory jndiName="jms/wmqCF" connectionManagerRef="ConMgr6">-->
    <jmsConnectionFactory jndiName="jms/wmqCF" connectionManagerRef="mqConnMgr">      
     <!-- <properties.wmqjmsra for OL -->
       <properties.wmqJms      
	    transportType="CLIENT"	
	    channel="CLOUD.APP.SVRCONN"	 
	    hostName="${mqHostName}"
            port="${mqPort}"	
            queueManager="${mqManagerName}"
	    sslCipherSuite="TLS_AES_128_GCM_SHA256"     
            userName="${mqAppUserName}"
            password="${MQCredentials}" />
    </jmsConnectionFactory>

    <!-- assword="${mqAppUserPwd}" -->
     <!--sslCipherSuite="TLS_AES_128_GCM_SHA256" sslCipherSuite="*TLS12ORHIGHER"   -->
     <!-- channel="DEV.APP.SVRCONN" 
	  hostName="localhost"
          port="1414"
	  userName="${ibmmq.username}"
          password="${ibmmq.password}"
          queueManager="QM1"
     -->
	
    <!-- <connectionManager id="ConMgr6" maxPoolSize="10"/> -->
    <connectionManager id="mqConnMgr" maxPoolSize="2"/>
    <jmsActivationSpec id="libertymq/SampleListenerMDB">
        <!-- <properties.wmqjmsra for OL -->
	<properties.wmqJms
	    transportType="CLIENT"		
            channel="CLOUD.APP.SVRCONN"
	    hostName="${mqHostName}"
            port="${mqPort}"	
            queueManager="${mqManagerName}"
            sslCipherSuite="TLS_AES_128_GCM_SHA256"
            userName="${mqAppUserName}"
            password="${MQCredentials}"
            destinationRef="jms/queue1"
            destinationType="jakarta.jms.Queue" />
	</jmsActivationSpec>
        <!--password="${mqAppUserPwd}" -->
	<!--sslCipherSuite="TLS_AES_128_GCM_SHA256" -->
	
    <jmsQueue id="jms/queue1" jndiName="jms/queue1">
        <properties.wmqJms baseQueueName="DEV.QUEUE.1"/>
    </jmsQueue>
	
    <!-- properties.wmqjmsra baseQueueName="DEV.QUEUE.1" /> for OL -->
	 
    <!-- END JMS CONFIGURATION -->

    <applicationManager autoExpand="true"/>

    <!--<webApplication contextRoot="/libertymq" location="libertymq.war" />-->
    <webApplication contextRoot="/" location="libertymq.war" />
	
    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />
</server>
